{# ##date## #}
{% extends "_components/_layout.twig" %}

{% block content %}
    <main class="##filename##" id="main-content">
        <section class="landing" aria-labelledby="##filename##-title">
            <h1 id="##filename##-title"></h1>
        </section>
    </main>
{% endblock %}
