{# ##date## #}
{% extends "_components/_layout.twig" %}
{% block content %}
    <main class="##filename##" aria-labelledby="##filename##-title">
        <h2 id="##filename##-title"></h2>
    </main>
{% endblock %}
